<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero4kick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>hero4kick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>hero4kick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>hero4kick4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>hero4kick5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>hero4stay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>hero4stay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>hero4stay3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>hero4stay4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>hero4stay5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>hero4walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,86}}</string>
                <key>sourceSize</key>
                <string>{57,86}</string>
            </dict>
            <key>hero4walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{57,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,85}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>hero4walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{57,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,86}}</string>
                <key>sourceSize</key>
                <string>{57,86}</string>
            </dict>
            <key>hero4walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{57,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,86}}</string>
                <key>sourceSize</key>
                <string>{57,86}</string>
            </dict>
            <key>hero4walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,86}}</string>
                <key>sourceSize</key>
                <string>{57,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero4.png</string>
            <key>size</key>
            <string>{61,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac3280377c1cd16caf15cc69964dc26f:14c206673eb8d586e549ed1c11242b65:9d7390c56a164383a082b89d5e917c56$</string>
            <key>textureFileName</key>
            <string>hero4.png</string>
        </dict>
    </dict>
</plist>
