<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero2kick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>hero2kick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{56,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,105}}</string>
                <key>sourceSize</key>
                <string>{56,105}</string>
            </dict>
            <key>hero2kick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,106}}</string>
                <key>sourceSize</key>
                <string>{56,106}</string>
            </dict>
            <key>hero2kick4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{56,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,105}}</string>
                <key>sourceSize</key>
                <string>{56,105}</string>
            </dict>
            <key>hero2kick5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,106}}</string>
                <key>sourceSize</key>
                <string>{56,106}</string>
            </dict>
            <key>hero2stay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,106}}</string>
                <key>sourceSize</key>
                <string>{56,106}</string>
            </dict>
            <key>hero2stay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>hero2stay3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>hero2stay4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>hero2stay5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,106}}</string>
                <key>sourceSize</key>
                <string>{56,106}</string>
            </dict>
            <key>hero2walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,106}}</string>
                <key>sourceSize</key>
                <string>{56,106}</string>
            </dict>
            <key>hero2walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>hero2walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>hero2walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>hero2walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,106}}</string>
                <key>sourceSize</key>
                <string>{56,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero2.png</string>
            <key>size</key>
            <string>{60,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d682b3bc3605736a6971ce0feb98ded:64501acaec6d7f3554ad914b24f0eaf9:c6285d5b6b439ec231a3ed44fb9bc037$</string>
            <key>textureFileName</key>
            <string>hero2.png</string>
        </dict>
    </dict>
</plist>
